


:root{
    --orange:#ffa600;
    --black:#130f40;
    --light-color:#666;
    --box-shadow:0 .5rem 1.5rem rgba(0,0,0,.1);
    --border:.2rem solid rgba(0,0,0,.1);
    --outline:.1rem solid rgba(0,0,0,.1);
    --outline-hover:.2rem solid var(--black);
}

*{
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
    border: none;
    text-decoration: none;
    text-transform: capitalize;
    transition: all .2s linear;
}
html{
    font-size: 62.5%;
    overflow-x: hidden;
    scroll-behavior: smooth;
   
}
body{
    
    background: #eee;
}

header{
    display: flex;
    position: fixed;
    justify-content: space-between;
    align-items: center;
    background-color: white;
    height: 9rem;
    font-size: 1.4rem;
    width: 100%;
    outline: var(--outline);
    z-index: 1000;
    box-shadow: var(--box-shadow);
}

.logo{
  margin-left: 11rem;
}

header h1 i{
    color: var(--orange);
    margin-right: 1rem;
    

}

.navbar a{
    margin-right: 2rem;
    color: var(--light-color);
    font-size: 1.7rem;
}
.navbar a:hover{
    color: var(--orange);
}

.icons{
    display: flex;
    margin-right: 9rem;
}

.icons div
{
    background-color: rgba(156, 166, 175, 0.215);
    margin-right: 0.8rem;
    height: 4rem;
    width: 4rem;
    font-size: 2rem;
    align-items: center;
    justify-content: center;
    display: flex;
    border-radius: 0.5rem;
}

 #menu-btn{
     display: none;
 }

 .icons div:hover{
     background-color: var(--orange);
     color:white;
 } 

 .search-form{
    position: absolute;
    top: 110%;
    right: -110rem;
    outline: var(--outline);
    box-shadow: var(--box-shadow);
    overflow: hidden;
    display: flex;
    background-color: white;
    align-items: center;
    border-radius: 0.2rem;
 }

 
 .search-box{
     padding:1rem 2rem;
     width: 40rem;
     height: 4rem;
 }

 .search-form label{

    padding-right: 2rem;
    font-size: 2rem;
 }

header .search-form.active{
     right: 2rem;
     transition: .4s linear;

 }

  .shop-box{
     position: absolute;
     top:110%; right:-110%;
     height:40rem ;
     width: 32rem;
     outline: var(--outline);
     background-color: white;
     box-shadow: var(--box-shadow);
     border-radius: 0.2rem;
 }

 header .shop-box .box{
     display: flex;
     position: relative;
     margin: 1.2rem 1.2rem;
 }

 header .shop-box .box img{
     height:10rem;
     width:10rem;
     padding: 0.5rem 1rem;
 }

 header .shop-box .box .content{
     color: var(--light-color);
     margin: 1.5rem 2rem;
     font-size: 1.5rem;
 }
 header .shop-box .box .content p { 

    color: rgb(92, 27, 177);
    padding-bottom: 1.3rem;
    font-style: bold;
    font-size: 1.5rem;
  

 }

 header .shop-box .box .content .total{
    position: relative;
    margin: 1rem;
    
    margin: 4rem 0rem;
    font-size: 2rem;
 }
 

 #trash{
     position: absolute;
     right: 2rem;
     color: var(--light-color);
 }
 #trash:hover{
     color: var(--orange);
 }

 .shop-box.active{
    right: 2rem;
    transition: .4s linear;

}

header .login
{
    background:rgb(230, 225, 225);
    position: absolute;
    top:110%; right:-110%;
    height:22rem ;
    width: 26rem;
    outline: var(--outline);
    box-shadow: var(--box-shadow);
    border-radius: 0.2rem;
    
}

header .login .user{
        display: block;
        text-align: center;
        color: var(--light-color);
        margin: 1rem 0.2rem;
        font-size: 1rem;
}
header .login .user h1{
    text-align: center;
    margin: 2rem;
}

header .login .user input{
    margin: 2rem 0rem;
    margin: 0.2rem 0rem;
    outline: var(--outline);
    height: 3rem;
    width: 25rem;
    text-align: center;
    outline: var(--outline);
    border-radius: 0.2rem;
    box-shadow: var(--box-shadow);
    
}

header .login .user p{
    color: var(--box-shadow);
    font-size: 1.3rem;
    margin: 0.3rem 0%;
}
header .login .user p span{
    color: var(--orange);
    text-decoration: underline;
    cursor: pointer;
}

header .login .user .btn{
    background-color: rgba(255, 246, 246, 0.849);
    color: black;
    border: var(--border);
    box-shadow: var(--box-shadow);
    text-align: center;
    height: 4rem;
    width: 23rem;
    border-radius: 0.3rem;
    cursor: pointer;
    transition: 0.4s ease;
}
header .login .user .btn:hover{
    color: white;
    background-color: var(--orange);
}

header .login.active {
    right:2rem;
    transition: 0.4s linear;
}
.home{
     display: flex;
    align-items: center;
    justify-content: center;
   background-image: url("image/banner-bg.webp");
    background-position: center;
    background-size: cover;
    padding-top: 19rem;
    padding-bottom: 16rem;

}

.home .content h1{
  font-size: 3rem;
  
}

.home .content h1 span{
    color: var(--orange);
}

.home .content p{
    color: var(--light-color);
    font-size: 1.7rem;
    padding: 1rem 0;
    text-align: center;
    line-height: 1.8;
}

.home .content .btn1{
    color:rgb(13, 13, 73);
    border: 1.2px solid rgb(13, 13, 73);
    outline: var(--outline);
    box-shadow: var(--box-shadow);
    text-align: center;
    height: 4rem;
    width: 16rem;
    border-radius: 0.3rem;
    cursor: pointer;
    transition: 0.4s ease;
    font-size: 1.7rem;
    margin-left: 17rem;
    background-color: transparent;
}

.home .content .btn1:hover{
    background-color: var(--orange);
    color: white;
}
.feature{
    padding: 2rem 9%;
}
.feature h1{
    text-align: center;
    margin: 1.5rem;
    color: var(--black);
    font-size: 3.7rem;
    padding: 2rem 0rem;
}

.feature h1 span{
    background-color: var(--orange);
    padding: 1.1rem 3rem;
    display: inline-block;
    clip-path: polygon(100% 0, 93% 50%, 100% 101%, 0% 100%, 7% 50%, 0% 0%);
    color: white;
}

.feature .box-container{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
    gap: 1.5rem;

}

.feature .box-container .box{
    margin: 1.3rem;
    outline: var(--outline);
    outline-offset: -1rem;
    background-color: white;
    height: 37rem;
    text-align: center;
}
.feature .box-container .box:hover{
    outline-offset: 0rem;
    outline:var(--outline-hover);
 }
.feature .box-container .box img{
    margin: 2rem 0rem;
    height: 15rem;
}
.feature .box-container .box h3{
    font-size: 2.6rem;
    margin: 1rem;
    color: var(--black);
}
.feature .box-container .box p{
    font-size: 1.5rem;
    color: var(--light-color);
    margin: 1rem;
}
.feature .box-container .box .btnn{
    color:rgb(13, 13, 73);
border: 1.2px solid rgb(13, 13, 73);
outline: var(--outline);
box-shadow: var(--box-shadow);
text-align: center;
height: 4rem;
width: 16rem;
border-radius: 0.3rem;
cursor: pointer;
transition: 0.4s ease;
font-size: 1.7rem;
margin:1.5rem 0rem;
background-color: transparent;
}

.feature .box-container .box .btnn:hover{
    background-color: var(--orange);
    color: white;
}

.products {
    padding: 2rem 15%;
    
}

.products h1{
    text-align: center;
    margin: 1.5rem;
    font-size: 3.7rem;
    padding: 2rem 0rem;
    color: var(--black);
}

.products h1 span{
    background-color: var(--orange);
    padding: 1.1rem 3rem;
    display: inline-block;
    clip-path: polygon(100% 0, 93% 50%, 100% 101%, 0% 100%, 7% 50%, 0% 0%);
    color: white;
}
.products .product-slider{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(25rem, 3fr));
    gap: 4rem;
     
    
   
}


.products .product-slider .box{
    
    background: #fff;
    border-radius: .5rem;
    text-align: center;
    padding:3rem 2rem;
    outline-offset: -1rem;
    outline: var(--outline);
    box-shadow: var(--box-shadow);
    
   
}
.products .product-slider .box:hover{
   outline-offset: 0rem;
   outline:var(--outline-hover);
}

.products .product-slider .box img{
    height:19rem;
}
.products .product-slider .box h3{
    font-size: 2.3rem;
    color: var(--black);
}
.products .product-slider .box .price{
    font-size: 1.8rem;
    margin: 0.5rem 0rem;
}
.products .product-slider .box .star{
    color: var(--orange);
    font-size: 1.6rem;
}
.products .product-slider .box .btnn1{
    color:rgb(13, 13, 73);
border: 1.2px solid rgb(13, 13, 73);
outline: var(--outline);
box-shadow: var(--box-shadow);
text-align: center;
height: 4rem;
width: 16rem;
border-radius: 0.3rem;
cursor: pointer;
transition: 0.4s ease;
font-size: 1.7rem;
margin:1.5rem 0rem;
background-color: transparent;
}

.products .product-slider .box .btnn1:hover{
    color: white;
    background-color: var(--orange);
}
.products .product-slider .box .btnn1 a:hover{
    color: white;
}

.category{
    padding: 2rem 9%;
}


.category h1{
    text-align: center;
    margin: 1.5rem;
    font-size: 3.7rem;
    padding: 2rem 0rem;
    color: var(--black);
}

.category h1 span{
    background-color: var(--orange);
    padding: 1.1rem 3rem;
    display: inline-block;
    clip-path: polygon(100% 0, 93% 50%, 100% 101%, 0% 100%, 7% 50%, 0% 0%);
    color: white;
}
.category .product-category{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(23rem, 3fr));
    gap: 4rem;
}

.category .product-category .box{
    background: #fff;
    border-radius: .5rem;
    text-align: center;
    padding:3rem 2rem;
    outline-offset: -1rem;
    outline: var(--outline);
    box-shadow: var(--box-shadow);
}
.category .product-category .box:hover{
    outline-offset: 0rem;
    outline:var(--outline-hover);
 }
 
 .category .product-category .box img{
     height:15rem;
 }
 .category .product-category .box h3{
     font-size: 2.3rem;
     color: var(--black);
 }
 .category .product-category .box .discount{
     font-size: 1.8rem;
     margin: 0.5rem 0rem;
 }

 
 .category .product-category .box .btn{
     color:rgb(13, 13, 73);
 border: 1.2px solid rgb(13, 13, 73);
 outline: var(--outline);
 box-shadow: var(--box-shadow);
 text-align: center;
 height: 4rem;
 width: 16rem;
 border-radius: 0.3rem;
 cursor: pointer;
 transition: 0.4s ease;
 font-size: 1.7rem;
 margin:1.5rem 0rem;
 background-color: transparent;
 }
 
 .category .product-category .box .btn:hover{
     color: white;
     background-color: var(--orange);
 }
 .category .product-category .btn a:hover{
     color: white;
 }

 .review{
     padding: 2rem 9%;
 }
 .review h1{
    text-align: center;
    margin: 1.5rem;
    font-size: 3.7rem;
    padding: 2rem 0rem;
    color: var(--black);
}

.review h1 span{
    background-color: var(--orange);
    padding: 1.1rem 3rem;
    display: inline-block;
    clip-path: polygon(100% 0, 93% 50%, 100% 101%, 0% 100%, 7% 50%, 0% 0%);
    color: white;
}

.review .cut-review{
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(30rem,1fr));
} 

.review .cut-review .box{
   padding: 2rem 0rem;
   outline: var(--outline);
    background-color: white;
    margin: 1rem 2rem;
    text-align: center;
    height: 35rem;
    outline-offset: -1;
    border-radius: 1.3rem;
    outline-offset: -1rem;
}

.review .cut-review .box:hover{
    outline-offset: 0rem;
    outline: var(--outline-hover);
}
.review .cut-review .box img{
    border-radius: 11rem;
    height: 12rem;
    margin-bottom: 1rem;
}
.review .cut-review .box p{
    font-size: 1.6rem;
    color: var(--light-color);
    padding: 1rem;
    line-height: 1.3;
}

.review .cut-review .box h3{
    color: var(--black);
    font-size: 2rem;
    padding: 1.5rem;
}

.review .cut-review .box .star{
    color: var(--orange);
    font-size: 2rem;
}

.blog{
    padding: 2rem 9%;
}

.blog h1{
    text-align: center;
    margin: 1.5rem;
    font-size: 3.7rem;
    padding: 2rem 0rem;
    color: var(--black);
}

.blog h1 span{
    background-color: var(--orange);
    padding: 1.1rem 3rem;
    display: inline-block;
    clip-path: polygon(100% 0, 93% 50%, 100% 101%, 0% 100%, 7% 50%, 0% 0%);
    color: white;
}

.blog .blog-spot{
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(30rem,1fr));
}
.blog .blog-spot .box{
    background-color: white;
    border-radius: 0.4rem;
    margin: 0rem 1.2rem;
    height: 50rem;
    border-radius: 0.4rem;
}
.blog .blog-spot .box img{
    width: 100%;
    height: 22rem;
    border-radius: 0.4rem;
}

.blog .blog-spot .box .icon{
    display: flex;
    justify-content: space-between;
    font-size: 1.4rem;
    color: var(--light-color);
    margin: 1rem 1.5rem;
    cursor: pointer;
}

.blog .blog-spot .box .icon i {
    color: var(--orange);
    padding: 1rem;
}

.blog .blog-spot .box h3{
    color: var(--black);
    font-size: 2rem;
    margin: 1.4rem;
    border-top: 1px solid grey;
    line-height: 2.8rem;
}

.blog .blog-spot .box p{
    color: var(--light-color);
    font-size: 1.4rem;
    margin: 1.4rem;
    line-height: 2.8rem;
    font-weight: 500;
}


.blog .blog-spot .box .btn{
    color:rgb(13, 13, 73);
 border: 1.2px solid rgb(13, 13, 73);
 outline: var(--outline);
 box-shadow: var(--box-shadow);
 text-align: center;
 height: 4rem;
 width: 16rem;
 border-radius: 0.4rem;
 cursor: pointer;
 transition: 0.4s ease;
 font-size: 1.7rem;
 margin:1rem 1.4rem;
 background-color: transparent;

}
.blog .blog-spot .box .btn:hover{
    background-color: var(--orange);
    color: white;
}
footer{
    background-color: white;
}
footer .box-container{
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(30rem,1fr));
    height: 28rem;
    margin: 3rem 0rem;
    padding: 1rem 3rem;
}

footer .box-container .box{
    text-align: center;
    
}
footer .box-container .box h3{
    color: var(--black);
    font-size: 2.8rem;
    padding: 2rem;
}
footer .box-container .box  i{
    color: var(--orange);
}
footer .box-container .box p{
    font-size: 1.6rem;
}
footer .box-container .box .icons{
    margin: 3rem 7rem;
}
footer .box-container .box .icons i{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(219, 210, 210, 0.623);
    height: 3rem;
    width: 3rem;
    border-radius: 0.4rem;
    text-align: center;
    margin: 1rem;
    color: black;
    margin: 2rem 1rem;
    font-size: 1.8rem;
}
footer .box-container .box .icons i:hover{
    background-color: var(--orange);
    color: white;
}
footer .box-container .box a{ 
    display: flex;
    font-size: 1.7rem;
    padding-right: 1.5rem;
    margin: 1.5rem 0rem;
    color: var(--light-color);
    
}
footer .box-container .box a:hover{
    left: 2rem;
    position: relative;
    text-decoration: underline orange;
} 

footer .box-container .box a i{
    font-size: 1.3rem;
    padding-right: 1rem;
    

}



footer .box-container .box .new input{
    margin: 1rem 5rem;
    display: block;
    border-radius: 0.3rem;
    height: 4rem;
    font-size: 2rem;
    border: 1px solid #d8d2d2;
    width: 20rem;
    font-size: 1.5rem;
    background-color: rgb(240 230 230 / 85%);
}
footer .box-container .box .new .btn{
    color:rgb(13, 13, 73);
    border: 1.2px solid rgb(13, 13, 73);
    outline: var(--outline);
    box-shadow: var(--box-shadow);
    text-align: center;
    height: 4rem;
    width: 16rem;
    border-radius: 0.4rem;
    cursor: pointer;
    transition: 0.4s ease;
    font-size: 1.7rem;
    margin:1rem 1.4rem;
    background-color: transparent;

}

footer .design{
    margin:  2rem 10rem;
    padding: 2rem;
    font-size: 1.3rem;
    color:var(--light-color);
    text-align: center;
    border-top: rgb(238, 188, 152) 1px solid ;
}

footer .design span{
    color: orange;
}